<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PointOfSaleUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PointOfSaleUI.Properties.Settings>
            <setting name="WizardStep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DeliveryRate" serializeAs="String">
                <value>49.00</value>
            </setting>
            <setting name="ZeroToFiveBackColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ZeroToFiveRowSelectionBackColor" serializeAs="String">
                <value>Highlight</value>
            </setting>
            <setting name="ZeroToFiveRowRowSelectionForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ZeroToFiveRowSelectionForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FiveToTenBackColor" serializeAs="String">
                <value>LightCoral</value>
            </setting>
            <setting name="FiveToTenRowSelectionBackColor" serializeAs="String">
                <value>Highlight</value>
            </setting>
            <setting name="FiveToTenRowRowSelectionForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FiveToTenRowSelectionForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TenToFifteenBackColor" serializeAs="String">
                <value>255, 255, 128</value>
            </setting>
            <setting name="TenToFifteenRowSelectionBackColor" serializeAs="String">
                <value>Highlight</value>
            </setting>
            <setting name="TenToFifteenRowRowSelectionForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TenToFifteenRowSelectionForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TaxRateSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TaxRate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="QRCodePath" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberofRetries" serializeAs="String">
                <value>5</value>
            </setting>
        </PointOfSaleUI.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <add name="POS" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=POSDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
    <add name="PassPhrase" connectionString="clear wooden sea meet big burst truth mark tail weave dawn oil whole meter friend" />
</connectionStrings>
</configuration>